
// page/landing

$page          : #{$app-prefix}-page--home;

.#{$page} {
  .es-section--home {
    background: rgb(249,249,249);
  }
  .es-section--banner {
    p {
      color: #fff;
      font-weight: 600;
      font-size:rem(14);
    }
  }
  .#{$app-prefix} {
    &-layout-container {
      margin-top: 0;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
}

$m-sticky-header    : al;

$tab           : #{$m-sticky-header}-tab;

$tab-bg   : #fff;
$tab-item-bg   : #fff;

.#{$m-sticky-header} {
  &-container {
    position: relative;
    overflow:hidden;
    overflow-x: scroll !important;
    width: 100%;
    background-color: $tab-bg;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    -ms-overflow-style: none;  // IE 10+

    &::-webkit-scrollbar {
      display: none;
    }

  }
  &-navigation {
    position: absolute;
    padding: 10px;
    background-color: $tab-item-bg;
    color: #2ecc71;
    cursor: pointer;

    &--back {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
}

.#{$tab} {
  position: relative;
  display: block;
  height: 35px;
  background-color: $tab-item-bg;
  text-align: center;
  white-space:nowrap;
  transition: .15s ease-out all;
  -moz-transition: .15s ease-out all;
  -webkit-transition: .15s ease-out all;
  -o-transition: .15s ease-out all;

  @media (min-width: $break-point-xs-max){
    height:65px;
    line-height:65px;
  }

  &__item {
    display: inline-block;
    padding: 5px 20px;
    color: rgba(111, 111, 111,0.8);
    cursor: pointer;

    @media (min-width: $break-point-xs-max){
      padding: 0 20px;
    }

    font: {
      size: 14px;
    }
    &--active {
      position:relative;
      background-color: white;
      color: #424242;

      font: {
        weight: 600;
      }
      &:after {
        position: relative;
        bottom: -8px;
        display: block;
        width: 100%;
        height: 2px;
        background: #fdc611;
        content: '';

        @media (min-width: $break-point-xs-max){
          bottom:3px;
        }
      }
    }
  }
}

// Bootstrap slider
.carousel{
  height:100%;

  .carousel-inner{
    @include transform(translateY(-50%));

    top:50%;

    @media (max-width: $break-point-xs-max) {
      padding-left: 40px;
    }
  }
  .carousel-indicators{
    bottom:-40px;

    li{
      margin:0;
      width: 8px;
      height: 8px;
      border:none;
      background-color:rgba(255,255,255,0.5);

      &.active{
        background-color:#fdc611;
      }
    }
  }
  .carousel-control{
    @include transform(translateY(-50%));

    top:50%;
    bottom: auto;
    width: auto;
    background:none;
    opacity:0.8;

    span{
      svg{
        height:20px;

        path{
          fill: #fff;
        }
      }
    }
    &.left{
      left:-40px;

      @media (max-width: $break-point-xs-max) {
        left:0;
      }
    }
    &.right{
      right:-40px;

      @media (max-width: $break-point-xs-max) {
        right:0;
      }
    }
  }
}

#es-sticky-header{
  @media (min-width: $break-point-xs-max){
    top:0 !important;
  }
}

// Feedback
.feedback{
  position:fixed;
  right:10px;
  bottom:10px;
  z-index:16;
  padding:15px;
  width: 340px;
  height: 496px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px){
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  .row{
    margin-right:0;
    margin-left:0;

    .title{
      margin-top:0;
      margin-bottom:15px;
      padding-right:80px;
      padding-bottom:15px;
      border-bottom:1px solid #e3e3e3;
      color: #424242;
      font-weight: 600;
      font-size: 16px;

      .anchorBtn{
        float:right;
        margin-top: 2px;
        margin-right: -80px;
      }
    }
    .form-group{
      textarea{
        padding:12px;
        height:100px;
        font-size:16px;
        resize:none;
      }
    }
    .es-box__cta{
      margin:0;
    }
  }
  .my-orders{
    .o-row{
      border:none;

      .o-sub-row{
        padding:0;

        .row{
          margin-bottom:0;

          .o-col{
            margin-bottom:15px;

            .date, .time{
              font-size:12px;
            }
            .amount{
              font-weight:600;
            }
          }
        }
      }
    }
  }
}


$unchecked-color: #e9e9e9;
$checked-color: #fdc611;

.rating{
  .heading{
    margin-bottom:5px;
    color:#424242;

    font:{
      size:14px;
    }
  }
  .radio-grp {
    display: inline-block;
    overflow:hidden;
    margin-left: -5px;
    height: 25px;
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;

    & > input {
      display: none;

      & + label {
        /* only enough room for the star */
        display: inline-block;
        overflow: hidden;
        margin-right: 5px;
        white-space: nowrap;
        cursor: pointer;

        svg {
          display: inline-block;
          width: 20px;
          height: 20px;
          color: $unchecked-color;

        }
      }
      &:checked ~ label svg,
      & + label:hover ~ label svg,
      & + label:hover svg {
        color: $checked-color;
        text-shadow: 0 0 1px #333;
      }
    }
    /* the hidden clearer */
    & > .star-cb-clear + label {
      margin-left: -.5em;
      width: .5em;

    }
    // & > .star-cb-clear + label svg {
    //   width: .5em;
    // }
    &:hover > input + label svg {
      color: $unchecked-color;
      text-shadow: none;
    }
    &:hover > input + label:hover ~ label svg,
    &:hover > input + label:hover svg{
      color: $checked-color;
      text-shadow: 0 0 1px #333;
    }
  }
}

// extra styles
.log {
  display: inline-block;
  margin-left:60px;
  background: transparent;
  vertical-align: top;
  text-align: center;
  font-size:16px;
}
