// pages/wallet
$page       : #{$app-prefix}-page--wallet;


.#{$page} {
  background: rgb(249,249,249);

  .#{$app-prefix} {
    &-link {
      &--password {
        padding: 20px 0;
        font-size: 12px;
      }
    }
    &-layout-container {
      margin-top: ($header-height + 60px);
      background: rgb(249,249,249);

      @media (max-width: $break-point-xs-max) {
        margin-top: (85px);
      }
    }
  }
}

.#{$app-prefix} {
  &-layout-container{
    .container{
      .row{
        & > div{
          @media (max-width: 768px){
            &.col-sm-8,
            &.col-sm-6{
              width:100%;
            }
            &.col-sm-4{
              width:100%;
            }
          }
        }
      }
    }
  }

}
