
// page/landing

$page          : #{$app-prefix}-page--home;

.#{$page} {
.es-section--home {
  background: rgb(249,249,249);
}
  .es-section--banner {
    p {
      color: #fff;
      font-weight: 600;
      font-size:rem(14);
    }
  }
  .#{$app-prefix} {
    &-layout-container {
      margin-top: 0;
    }
  }
  .navbar {
    margin-bottom: 0;
  }
}

$m-sticky-header    : al;

$tab           : #{$m-sticky-header}-tab;

$tab-bg   : #fff;
$tab-item-bg   : #fff;

.#{$m-sticky-header} {
  &-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 25px;
    background-color: $tab-bg;
	  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
    &-navigation {
    position: absolute;
    padding: 10px;
    background-color: $tab-item-bg;
    color: #2ecc71;
    cursor: pointer;

    &--back {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
}

.#{$tab} {
  @include justify-content(center);

  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  height: 65px;
  background-color: $tab-item-bg;
  transition: .15s ease-out all;
  -moz-transition: .15s ease-out all;
  -webkit-transition: .15s ease-out all;
  -o-transition: .15s ease-out all;

  &__item {
    display: inline-block;
    padding: 5px 20px;
    color: rgba(111, 111, 111,0.8);
    cursor: pointer;

    font: {
      size: 14px;
    }
    &--active {
      background-color: white;
      color: #424242;

      font: {
        weight: 600;
      }
      &:after {
        position: relative;
        bottom: -21px;
        display: block;
        width: 100%;
        height: 2px;
        background: #fdc611;
        content: '';
      }
    }
  }
}

// Bootstrap slider
.carousel{
  height:100%;

  .carousel-inner{
    @include transform(translateY(-50%));

    top:50%;
  }
  .carousel-indicators{
    bottom:-40px;

    li{
      margin:0;
      width: 8px;
      height: 8px;
      border:none;
      background-color:rgba(255,255,255,0.5);

      &.active{
        background-color:#fdc611;
      }
    }
  }
  .carousel-control{
    @include transform(translateY(-50%));

    top:50%;
    bottom: auto;
    width: auto;
    background:none;
    opacity:0.8;

    span{
      svg{
        height:20px;

        path{
          fill: #fff;
        }
      }
    }
    &.left{
      left:-40px;
    }
    &.right{
      right:-40px;
    }
  }
}
