// page/landing

$root          : #{$app-prefix};


.#{$root} {
  &-footer {
    background: #424242;

    &__app-btn {
      display: block;
      margin-bottom: 20px;

      @media (max-width: $break-point-xs-max) {
        width: 60%;
      }
    }
    &__nav {
      background-image: linear-gradient(rgba(255, 255, 255, 0.35) 33%, rgba(255,255,255,0) 0%);
      background-position: right;
      background-size: 1px 10px;
      background-repeat: repeat-y;

      @media (max-width: $break-point-xs-max) {
        margin: 20px 0;
        padding-bottom: 30px;
        background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 10px 1px;
        background-repeat: repeat-x;
      }

      &__title {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
      }
      &__list {
        padding: 0;

        @media (max-width: $break-point-xs-max) {
          padding-left: 0;
        }

        li {
          margin-bottom: 10px;
          list-style: none;

          font: {
            size: 12px;
          }
          a{
            color:#fff;
          }
        }
      }
    }
    &--base {
      padding-bottom: 20px !important;

      &__address {
        color: white;

        font: {
          size: 10px;
        }
      }
      &__icon {
        display: inline-block;
        margin-right: 15px;
        padding: 0;

        &:last-child{
          margin-right:0;
        }
        svg{
          width: 22px;
          height: 22px;
        }
        &-wrap {
          margin: 0 auto;
          margin-bottom: 15px;
          text-align: center;
        }
      }
    }
  }
  &-layout {
    &-container {
      margin-top: 64px;

      @media (max-width: $break-point-xs-max) {
        margin-top: 50px;
      }
    }
  }
  &-section {
    background: white;

    @media (max-width: $break-point-xs-max) {
      padding: 25px 12.5px;
    }
    @media (min-width: $break-point-sm) {
      padding: 60px 0;
    }

    &--footer {
      padding: 25px 0;
      background: #424242;
      color: white;

      @media (max-width: $break-point-xs-max) {
        padding: 20px 35px !important;
      }
    }
    &--xs {
      padding: 15px 0;

      .#{$app-prefix}-section {
        &__title {
          margin: 0;

          font: {
            size: 16px;
          }
          &:after {
            display: none;
          }
        }
      }
    }
    &--mobile-app {
      position:relative;
      background-image: url("../../images/pages/landing/section--mobile-app.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: white;

      @media (min-width: $break-point-xs-max) {
        padding-bottom: 120px;
      }

      &:before{
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:rgba(0,0,0,0.3);
        content:"";
      }
      .#{$root} {
        &-section {
          &__content {
            margin-bottom: 30px;
            font-size:18px;
          }
          &__title {
            position:relative;

            @media (min-width: $break-point-xs-max) {
              margin-bottom: 120px;
            }

            &:after {
              border-color: white;
            }
          }
        }
      }
      .row{
        position:relative;
      }
    }
    &__app {
      &-btn {
        @media (min-width: $break-point-sm) {
          display: inline-block;
        }
        @media (max-width: $break-point-xs-max) {
          text-align: center;
        }

        img {
          width: 235px;
        }
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 30px;
      color:#424242;
      font-family:$type-secondary;

      font: {
        size: 30px;
        weight: bold;
      }
      &.no-border{
        &:after{
          display:none;
        }
      }
      &:after {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        width: 60px;
        border-bottom: 1px solid #000;
        content: '';
        text-align: center;
      }
      &.white{
        color:#fff;
      }
    }
    &__title:after{
      @media (max-with: $break-point-xs-max){
        content: none;
      }
    }
    &--secondary {
      background: $bg-secondary;
    }
    &--dark {
      background: #f2f2f2;
    }
    &--press {
      text-align: center;

      .row{
        & > div{
          & > div{
            display:inline-block;
            float:none;
            margin-right:-4px;
            vertical-align:middle;
          }
        }
      }
      img {
        margin: 20px 0;
        max-width: 100%;
        width: 200px;

        @media (max-width: $break-point-xs-max){
          padding: 20px 0;
        }
      }
    }
    &--news-letter {
      padding-top:0;
      padding-bottom:0;
      height:65px;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);

      @media (max-width: $break-point-xs-max){
        padding-top:20px;
        padding-bottom:20px;
        height:auto;
      }

      .row-fluid{
        height:65px;
        line-height:65px;

        @media (max-width: $break-point-xs-max){
          height:auto;
          line-height:normal;
        }

        & > div{
          display: inline-block;
          float: none;
          margin-right: -4px;
          padding: 0;
          vertical-align: middle;

          &:last-child{
            vertical-align: bottom;
          }
          .input-group{
            input{
              float:none;
              height:40px;
            }
            .input-group-btn {
              & > .btn{
                margin-top: 1px;
                min-width: auto;
                height: 40px;
              }
            }
          }
        }
      }
      .#{$app-prefix} {
        &-section__title {
          @media (min-width: $break-point-sm) {
            margin-top: 0;
          }
          @media (max-width: $break-point-xs-max)  {
            margin-bottom: 10px;
            text-align: center;
          }

          font: {
            family: $type-primary;
            weight: 600;
          }
        }
      }
      .form-group {
        margin-bottom: 0;
      }
    }
    &--banner {
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-width: $break-point-sm) {
        height: 600px;
      }
      @media (max-width: $break-point-xs-max) {
        height: 340px;
      }

      .container {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);

        height: 100%;
      }
      &__heading {
        position: relative;
        margin-bottom: 30px;
        color: white;
        line-height: 1.42;

        @media (max-width: $break-point-xs-max) {
          font: {
            size: 32px;
            weight: 700;
          }
        }
        @media (min-width: $break-point-sm) {
          font: {
            size: 38px;
            weight: 700;
          }
        }
      }
      &--first {
        position:relative;
        background-image: url("../../images/pages/image.png");

        &:before{
          @include position(absolute, 0 0 0 0);

          background:rgba(0,0,0,0.3);
          content:"";
        }
      }
    }
    &__sub {
      margin-bottom: 50px;

      &__heading {
        position:relative;
        margin-bottom: 20px;
        color:#424242;

        &:before{
          position:absolute;
          left:-10px;
          display:block;
          width: 3px;
          height:30px;
          background-color:$brand-primary;
          content:"";

          @media (max-width: $break-point-xs-max){
            left:-20px;
          }
        }
        font: {
          size: 24px;
          family: $type-primary;
          weight: 600;
        }
      }
      &__content {
        color: $type-secondary-color;
      }
      &__section {
        margin-bottom: 100px;

        @media (max-width: $break-point-xs-max){
          margin-bottom: 50px;
        }

        .row{
          & > div{
            display:inline-block;
            float:none;
            margin-right: -4px;
            vertical-align:middle;
          }
        }
      }
      &__media {
        @media (max-width: $break-point-xs-max) {
          text-align: center;
        }

        img {
          padding-right: 25px;
          max-width: 100%;
        }
        &--right {
          @media (max-width: $break-point-xs-max) {
            text-align: center;
          }
          @media (min-width: $break-point-sm) {
            text-align: right;
          }

          img{
            padding-right: 15px;
          }
        }
      }
    }
  }
}

.controls .btn {
  svg {
    height: 20px;
  }
}
