// base/helper

$root         : #{$app-prefix}-h;

.#{$root} {
  &__v-hidden {
    visibility: hidden;
  }
}

.#{$app-prefix} {
  &--has-overlay-cart {
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      display: block;
      width: 100%;
      height: 100%;
    	background-color: rgba(0, 0, 0, 0.5);
      content: "";
    }
  }
  &-no-border {
    border: none !important;
  }
  &-no-border-b {
    border-bottom: none !important;
  }
  &-sep {
    &--or {
      position: relative;
      margin: 40px 0;

      &:after {
        position: absolute;
        left: 50%;
        margin-top: -19px;
        margin-left: -21px;
        padding: 6px 10px;
        border: 1px solid #dadada;
        border-radius: 3px;
        background: #fff;
        content: 'OR';
      }
    }
  }
}

.text-warning {
  color: #fdc611;
}

.body-overlay{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  display:none;
  background:rgba(0,0,0,0.4);
}

a{
  &:hover,
  &:focus{
    outline:none;
  }
}

// Padding
.PT-0{
  padding-top:0 !important;
}

// Bootstrap overrides
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background:none;
}
