// modules/buttons

$root         : #{$app-prefix}-btn;


.#{$root} {
  &__count,
  &__minus,
  &__add {
    display: inline-block;
    padding: 0 10px;

    font: {
      weight: 600;
    }
  }
  &--primary {
    min-width: 173px;
    border-color: $btn-primary-color !important;
    border-radius: 3px;
    background: $btn-primary-color !important;
    color: white;
    font-weight:600;
    font-size:rem(18);

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:visited {
      border-color: darken($btn-primary-color, 10);
      background: darken($btn-primary-color, 10);
      color: white;
    }
  }
  &--sm{
    min-width:60px;
    height:40px;
  }
  &--update{
    display:block;
    width: 170px;
    height: 40px;
    border-radius: 3px;
    background-color: #c1272e;
    color:#fff;
    font-weight: 600;
    font-size: 18px;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:visited {
      border-color: darken($btn-primary-color, 10);
      background: darken($btn-primary-color, 10);
      color: white;
    }
  }
  &--add-to-cart {
    background: #fff !important;
    color: $btn-primary-color !important;
  }
  &--cart{
    padding:0 10px;
    min-width:83px;
    height:30px;
    color:#fff;
    line-height: 30px;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:visited {
      border-color: darken($btn-primary-color, 10);
      background: darken($btn-primary-color, 10);
      color: white;
    }
    svg{
      margin-right:10px;
      width: 18px;
      height: 16px;
    }
  }
  &-group {
    @include display(flex);
    @include align-items(center);

    margin-bottom: 10px;
    padding: 12px 30px;
    border-radius: 3px;

    &--default {
      border: solid 1px #b7b7b7;
      background-color:#fff;
      color: #888888;

      &:hover{
        color:#888888;
      }
    }
    &--fb {
      background: $brand-fb;
      color: #fff;

      &:hover{
        color:#fff;
      }
    }
    &--mail {
      background: #c1272e;
      color: #fff;

      &:hover{
        color:#fff;
      }
    }
    &__icon {
      svg {
        width: 26px;
        height: 26px;
        vertical-align: middle;
      }
    }
    &__text {
      @include flex(1);

      text-align: center;
    }
  }
}

.anchorBtn{
  display: block;
  margin-top:20px;
  color: #c1272e;
  text-align:center;
  font-weight:400;
  font-size: 14px;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:visited {
    color: darken($btn-primary-color, 10);
  }
}
