// modules/box

$root      : #{$app-prefix}-box;

.#{$root} {
  margin-bottom: 25px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  &__time {
    font: {
      family: $type-primary;
    }
  }
  &__header {
    @media (max-width: $break-point-xs-max) {
      padding: 10px;
    }

    padding: {
      top: 16px;
      right: 30px;
      bottom: 10px;
      left: 30px;
    }
    &--has-tab {
      margin-bottom: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }
    &--has-sep {
      border-bottom: 1px solid #dadada;
    }
  }
  &--order{
    margin-bottom:60px;

    .es-box__body{
      padding-top:30px;
      padding-bottom:30px;
    }
  }
  &__media {
    height: 500px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: url("../../images/pages/product/page-product-media--peri-chicken.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $break-point-xs-max) {
      height: 160px;
    }
  }
  &__price {
    margin: 4px 0;
    border-radius: 3px;
    color:#424242;
    text-align: right;

    font: {
      size: 22px;
      weight: 600;
    }
  }
  &__desc {
    margin-top: 10px;
    color: #888;

    font: {
      size: 14px;
    }
    &.large{
      font-size:16px;
    }
  }
  &__tag {
    margin-bottom: 10px;

    &__item {
      margin-right: 5px;
      padding: 3px 10px;
      border-radius: 3px;
      background: #eee;
      color: #6f6f6f;

      font: {
        size: 12px;
        weight: 400;
      }
    }
  }
  &__title {
    position:relative;
    margin-bottom: 10px;
    padding-right:20px;
    color: #424242;

    svg{
      position: absolute;
      top: 8px;
      right: 0;
      float: right;
      width: 12px;
      height: 12px;
    }
    font: {
      size: 18px;
      weight: 600;
    }
    &.large{
      display:inline-block;
      padding-right:35px;
      font-size:26px;

      svg{
        width: 25px;
        height: 25px;
      }
    }
  }
  &__data {
    margin-top: 30px;

    &__title {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      color:#424242;
      line-height: 40px;

      font: {
        size: 18px;
      }
    }
    &__list {
      padding-left: 20px;

      &__item {
        margin-bottom: 20px;
        color: #6f6f6f;
      }
    }
  }
  &__body {
    padding: 0 30px;

    @media (max-width: $break-point-xs-max) {
      padding: 10px;
    }
  }
  &__action {
    color: $brand-primary;

    font: {
      weight: 600;
    }
  }
  &__section {
    border: {
      bottom: 1px solid #dadada;
    }
    &--has-sep {
      border: {
        bottom: 1px solid #dadada;
      }
    }
    padding: {
      top: 30px;
      bottom: 30px;
    }
    &--last {
      border-bottom: none;

      padding: {
        top: 20px;
        bottom: 10px;
      }
    }
    .es-checkout__item--last {
      margin-bottom: 0;
    }
    &__price {
      float: right;
      color: #fdc611;

      font: {
        weight: 600;
      }
    }
  }
  &__cta {
    margin: 0 30px;
    padding: 0 20px;
    width: auto;
    height: 40px;
    border-radius: 0;
    border-radius: 3px;
    line-height: 40px;
  }
  &__summary {
    &__row {
      display: block;

      padding: {
        bottom: 10px;
      }
      &--has-sep {
        margin-top: 10px;
        border-top: 1px solid #dadada;

        padding: {
          top: 20px;
          bottom: 20px;
        }
      }
    }
    &__text,
    &__price {
      display: inline-block;
      color: $type-secondary-color;

      font: {
        size: 16px;
      }
      &--highlight {
        color: $type-primary-color;

        font: {
          weight: 600;
        }
      }
    }
  }
  // states
  &--depth-2 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
  &--notice {
    .#{$root} {
      &__title {
        font: {
          size: 18px;
        }
      }
      &__desc {
        margin-top: 0;
        color: #888;
      }
      &__body{
        padding-top:30px;
        padding-bottom:30px;
      }
    }
  }
  &--minimal {
    .#{$root} {
      &__header {
      }
      &__body {
        @media (max-width: $break-point-xs-max) {
          padding: 10px;
        }

        p{
          color:#6f6f6f;

          font:{
            size:18px;
            weight:400;
          }
        }
        h2{
          color:#424242;

          font:{
            size:34px;
            weight:400;
          }
        }
        padding: {
          top: 0;
          right: 30px;
          bottom: 16px;
          left: 30px;
        }
        .select-dropdown{
          .dropdown-toggle{
            padding-right: 30px;
            width:100%;
            height: 40px;
            border: solid 1px #dadada;
            border-radius: 3px;
            color:#424242;
            text-align:left;

            font: {
              size: 16px;
              weight:400;
            }
            &:hover,
            &:focus{
              background:none;
            }
            .caret{
              float:right;
              margin: 10px -20px 0;
            }
          }
          .dropdown-menu{
            width: 100%;
            border:none;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

            li{
              a{
                padding: 10px 30px;
                color:#424242;

                font: {
                  size: 14px;
                  weight:400;
                }
                &:hover,
                &:focus{
                  background-color:#fff7dc;
                }
              }
            }
          }
        }
      }
      &__desc {
        margin-top: 0;
      }
      &__title {
        font: {
          size: 18px;
        }
      }
    }
  }
  &--active {
    .#{$root} {
      &__header {
        background: #fff7dc;
      }

    }
  }
  &--inactive {
    .#{$root} {
      &__header {
        background: #f1f1f1;
      }
      &__title {
        color: #888;
      }
      &__body,
      &__footer {
        display: none;
      }
    }
  }
  &__footer{
    padding-bottom: 30px;

    @media (max-width: 768px){
      .es-box__cta{
        margin:0 10px;
      }
    }
  }
  &--filled {
    .#{$root} {
      &__title {
        margin-bottom:0;
        color: #6f6f6f;
      }
      &__desc {
        color: #6f6f6f;
      }
    }
  }
  &--card {
    .#{$root} {
      &__media {
        height: 244px;
      }
      &__body {
        padding: 20px;
      }
      &__footer {
        padding: 20px;
        padding-top: 0;
      }
    }
  }
}
