// modules/buttons

$root         : #{$app-prefix}-btn;


.#{$root} {
  &__count,
  &__minus,
  &__add {
    display: inline-block;
    padding: 0 10px;

    font: {
      weight: 600;
    }
  }
  &--primary {
    min-width: 173px;
    border-color: $btn-primary-color !important;
    border-radius: 3px;
    background: $btn-primary-color !important;
    color: white;
    font-weight:600;
    font-size:rem(18);

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:visited {
      border-color: darken($btn-primary-color, 10);
      background: darken($btn-primary-color, 10);
      color: white;
    }
  }
  &--add-to-cart {
    background: #fff !important;
    color: $btn-primary-color !important;
  }
  &-group {
    @include display(flex);
    @include align-items(center);

    margin-bottom: 10px;
    padding: 12px 30px;
    border-radius: 3px;

    &--default {
      border: solid 1px #b7b7b7;
      color: #888888;
    }
    &--fb {
      background: $brand-fb;
      color: #fff;
    }
    &__icon {
      svg {
        width: 26px;
        height: 26px;
        vertical-align: middle;
      }
    }
    &__text {
      @include flex(1);

      text-align: center;
    }
  }
}
