// modules/header

$root      : #{$app-prefix}-header;

.#{$root} {
  &__action {
    padding-top: 15px !important;
    padding-bottom: 15px !important;

    // &__cart {
    //   padding : 5px 20px;
    //   border-radius: 3px;
    //   background: $brand-primary;
    //   color: white;
    //
    //   svg {
    //     display: inline-block;
    //     height: 16px;
    //     vertical-align: middle;
    //   }
    //   &__count {
    //     display: inline-block;
    //     margin-left: 7px;
    //     vertical-align: middle;
    //
    //     font: {
    //       size: 18px;
    //     }
    //   }
    // }
  }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navbar-header {
  // width:100%;
  height: 65px;
}

.navbar-brand {
  top:50%;
  margin-top:10px;
  margin-bottom:10px;
  padding: 0;
  height:45px;
  -webkit-transform: translate(-50%, -50%);
  -mox-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @media (max-width: $break-point-xs-max) {
    position: fixed;
    top:0;
    left: 50%;
    // margin-left: -60px !important;
    // width: 140px;
    transform: none;
    transform: translateX(-50%);

    &.m-left{
      position:static;
      float:left;
      margin:10px 10px 10px 30px;
      transform:none;

      // margin-left:0 !important;
    }
  }
  @media (min-width: $break-point-sm) {
    position: absolute;
    left: 50%;
    margin-left: auto !important;
    margin-top: 0;
    margin-bottom: 0;

    // margin-left: -75px !important;
    // width: 150px;
  }

  img {
    height: inherit;

  }
}

.navbar-default .navbar-toggle {
  padding: 15px 10px;
  border: none;
}

.navbar-default {
  margin-bottom:0;
  background: #fff;

  @media (min-width: $break-point-xs-max){
    height: 65px;
    box-shadow: none;
  }

  &.empty-nav{
    border: none;
    background: none;

    .navbar-header{
      margin: 0 auto;
      width:100%;
    }
    .navbar-brand{
      @media (max-width: 768px){
        position: static;
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto !important;
        transform: none;
      }
    }
  }
}
.navbar-collapse{
  margin-right: -15px !important;
  margin-left: -15px !important;
  padding-right: 30px !important;
  padding-left: 30px !important;

  @media (max-width: $break-point-xs-max){
    // height: 65px;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: none;
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background: #424242;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $type-primary-color;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.pre-login-nav{
  overflow:hidden !important;

  @media (max-width: $break-point-xs-max){
    padding-right: 20px !important;
    padding-left: 20px !important;
    height:50px;
    border-right:none;
    border-left:none;
  }

  .location-input{
    position:relative;
    z-index: 999;
    float:left;
    margin: 12px 0;

    @media (max-width: $break-point-xs-max){
      margin: 5px 0;
      width:calc(100% - 100px);
    }

    input{
      padding:10px 20px;
      width: 292px;
      height: 40px;
      border: solid 1px #b7b7b7;
      border-radius: 3px;
      background-color: #ffffff;
      color:#424242;

      @media (max-width: $break-point-xs-max){
        width:100%;
      }

      &::-webkit-input-placeholder {
        color: #b7b7b7;
      }
      &:-moz-placeholder {
        color: #b7b7b7;
      }
      &::-moz-placeholder {
        color: #b7b7b7;
      }
      &:-ms-input-placeholder {
        color: #b7b7b7;
      }
    }
    .location-selected{
      position:absolute;
      top:0;
      z-index: 999;
      padding: 8px 0;
      width: 100%;
      height:100%;
      background-color:#fff;
      cursor:pointer;

      svg{
        margin-right: 10px;
        margin-bottom:-3px;
        width: 14px;
        height: 20px;
      }
      span{
        color:#424242;
      }
    }

  }
  ul{
    li{
      display: inline-block;
      float: none;
      margin-right: 22px;
      vertical-align: middle;

      a{
        color:#424242;
      }
      &.member-profile-menu{
        a.member-name{
          color:#c1272e;
        }
        &.open{
          a{
            &:hover,
            &:focus{
              background:none;
            }
          }
          .dropdown-menu{
            right:auto;
            left:0;
            margin-top:-4px;
            padding:0;
            border: none;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

            @media (max-width: 768px){
              position:fixed;
              top:100px;
              right: 20px;
              left: auto;
              width:180px;
              background-color:#fff;
            }

            &::after{
              position:absolute;
              top:-5px;
              left:10px;
              z-index: -1;
              width: 10px;
              height: 10px;
              background-color:#fff;
              box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
              content:"";
              -webkit-transform:rotate(40deg);
              -mox-transform:rotate(40deg);
              -o-transform:rotate(40deg);
              transform:rotate(40deg);

              @media (max-width: 768px){
                right:10px;
                left:auto;
              }
            }
            li{
              position: relative;
              z-index: 11;
              margin:0;
              margin-bottom:10px;
              padding: 0 20px;
              width:100%;
              border-bottom:1px solid #dadada;
              background-color: #fff;

              &:first-child{
                padding-top:10px;
              }
              &:last-child{
                margin-bottom:0;
                border:none;
              }
              a{
                margin-bottom:10px;
                padding:0;
                color:#424242;
                text-align:left;
              }
            }
          }
        }
      }
    }
  }
  .navbar-right{
    @media (max-width: $break-point-xs-max){
      float:right;
      margin:5px 0;

      li{
        margin:0;

        a{
          padding-right:0;
          padding-left:0;
        }
      }
    }
  }
  &.sticky-nav{
    @media (max-width: $break-point-xs-max){
      height:35px;

      &.scroll-to-fixed-fixed{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      }
    }

    .navbar-right{
      position: absolute;
      right: 20px;

      li{
        a{
          &:hover,
          &:focus{
            background:none;
          }
          input[type="checkbox"]{
            margin-right:10px;
          }
        }
      }
    }
  }
  .es-btn--cart{
    float:right;
    margin: 17px 0;
    -webkit-transition: all ease 900ms;
    -moz-transition: all ease 900ms;
    -o-transition: all ease 900ms;
    transition: all ease 900ms;

    @media (max-width: $break-point-xs-max){
      position: fixed;
      top: 10px;
      right: 20px;
      margin:0;
    }

    &.sticky{
      position: fixed;
      top: 0;
      right: 30px;
      z-index: 999;
      opacity:1 !important;
      -webkit-transition: all ease 900ms;
      -moz-transition: all ease 900ms;
      -o-transition: all ease 900ms;
      transition: all ease 900ms;

      @media (max-width: $break-point-xs-max){
        top: 10px;
        right: 20px;
      }
    }
  }
}
