// modules/header

$root      : #{$app-prefix}-header;

.#{$root} {
  &__action {
    padding-top: 15px !important;
    padding-bottom: 15px !important;

    // &__cart {
    //   padding : 5px 20px;
    //   border-radius: 3px;
    //   background: $brand-primary;
    //   color: white;
    //
    //   svg {
    //     display: inline-block;
    //     height: 16px;
    //     vertical-align: middle;
    //   }
    //   &__count {
    //     display: inline-block;
    //     margin-left: 7px;
    //     vertical-align: middle;
    //
    //     font: {
    //       size: 18px;
    //     }
    //   }
    // }
  }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navbar-header {
}

.navbar-brand {
  padding: 10px;

  @media (max-width: $break-point-xs-max) {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    margin-left: -50px;
  }
  @media (min-width: $break-point-sm) {
    position: absolute;
    left: 50%;
    margin-left: -75px !important;
    width: 150px;
  }

  img {
    height: 45px;

    @media (max-width: $break-point-xs-max) {
      height: 30px;
    }
  }
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default {
  background: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #424242;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $type-primary-color;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.pre-login-nav{
  margin-right: -15px !important;
  margin-left: -15px !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .location-input{
    position:relative;
    float:left;
    margin:16px 0;

    input{
      padding:10px 20px;
      width: 292px;
      height: 40px;
      border: solid 1px #b7b7b7;
      border-radius: 3px;
      background-color: #ffffff;
      color:#424242;

      &::-webkit-input-placeholder {
        color: #b7b7b7;
      }
      &:-moz-placeholder {
        color: #b7b7b7;
      }
      &::-moz-placeholder {
        color: #b7b7b7;
      }
      &:-ms-input-placeholder {
        color: #b7b7b7;
      }
    }
    .location-selected{
      position:absolute;
      top:0;
      z-index: 999;
      padding: 8px 0;
      width: 100%;
      height:100%;
      background-color:#fff;
      cursor:pointer;

      svg{
        margin-right: 10px;
        margin-bottom:-3px;
        width: 14px;
        height: 20px;
      }
      span{
        color:#424242;
      }
    }
  }
  ul{
    li{
      display: inline-block;
      float: none;
      margin-right: 22px;
      vertical-align: middle;

      a{
        color:#424242;

        &.btn{
          padding:0 10px;
          min-width:83px;
          height:30px;
          color:#fff;
          line-height: 30px;

          &:hover,
          &:focus,
          &:active,
          &:active:focus,
          &:visited {
            border-color: darken($btn-primary-color, 10);
            background: darken($btn-primary-color, 10);
            color: white;
          }
          svg{
            margin-right:10px;
            width: 18px;
            height: 16px;
          }

        }
      }
    }
  }
  &.sticky-nav{
    .navbar-right{
      position: absolute;
      right: 20px;

      li{
        a{
          &:hover,
          &:focus{
            background:none;
          }
          input[type="checkbox"]{
            margin-right:10px;
          }
        }
      }
    }
  }
}
