// modules/inputs

$root        : #{$app-prefix}-input;

.#{$app-prefix} {

  &-form {

    &__floating {
      position: relative;
      margin-top: 25px;

      &__input {

        &:focus {
          border-color: #fdc611 !important;

          ~ label {
            color: #fdc611;
            @include transform(scale(0.9));
            left: 0;
          }
        }
      }

      &__label {
        position: absolute;
        bottom: 2px;
        left: 12px;
        color: #b7b7b7;
        pointer-events: none;
        @include transform-origin(0 -1500%);
        @include transition(transform 300ms ease, color 0.7s ease, left 0.2s ease);
      }
    }
  }
}

.#{$root} {

  &-group {

    &--menu {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

      @media (max-width: $break-point-xs-max) {
        width: 100%;
      }

      .input-group-btn {

        @media (max-width: $break-point-xs-max) {
          display: none;
        }
      }

      .es-input__form-control {
        @media (max-width: $break-point-xs-max) {
          border: {
            top-right-radius: 3px !important;
            bottom-right-radius: 3px !important;
          }
        }
      }
    }
  }

  &__form-control {
    box-shadow: none;
    border: none;
    border-radius: 3px;
  }
}


// bootstrap override
.form-control {
  border-radius: 3px;
  color: #424242;
  border-color: #dadada;
  box-shadow: none;

  input::-webkit-input-placeholder {
    color: #424242;
  }
  input:-moz-placeholder {
    color: #424242;
  }
  input::-moz-placeholder {
    color: #424242;
  }
  input:-ms-input-placeholder {
    color: #424242;
  }

  &:focus {
    border-color: #dadada;
    box-shadow: none;
  }
}

.input-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-radius: 3px;
  font: {
    size: 16px;
  }
}

.input-group-lg > .input-group-btn > .btn {
  border: {
    top-left-radius: 0;
    bottom-left-radius: 0;
  }
}

label {
  font: {
    size: 14px;
    weight: 400;
  }
}

.form-group {

  &--warning {
    label {
      color: #fdc611;
      font: {
        weight: 400;
        size: 14px;
      }
    }

    .form-control {
      border-color: #fdc611!important;
    }
  }
}
