// modules/tab

$root     : #{$app-prefix}-tab;

.#{$root} {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  padding: 16px 0;
  padding-bottom: 15px;
  // margin-bottom: 30px;
  border-bottom: 1px solid #dadada;
  text-align: center;

  &__item {
    position: relative;
    display: inline-block;
    padding: 0 10px;

    a{
      padding:0 !important;
      border:none !important;
      color: $type-secondary-color;
      font-size:18px;

      &:hover,
      &:focus{
        background:none;
      }
    }
    &.active {
      left: 0;

      & > a{
        padding:0 !important;
        border:none !important;
        color: $type-primary-color;

        font: {
          weight: 600;
        }
        &:hover,
        &:focus{
          border:none !important;
          background:none !important;
        }
      }
      &:after {
        position: absolute;
        bottom: -16px;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background: #fdc611;
        content: '';
      }
    }
  }
}
