// Modals custom style
.login-modal{
  .modal-content{
    border:none;
    background:none;

    .modal-body{
      padding:0;

      .tab-content{
        .es-link--password{
          padding:20px;
        }
        .es-box__footer{
          padding:0;

          .es-box__cta{
            margin:0;
            height:60px;
            line-height:60px;
          }
        }
      }
    }
  }
}

.saved-add-edit{
  .modal-content{
    .modal-header{
      height:55px;
      border-bottom: none;
      border-top-left-radius:3px;
      border-top-right-radius:3px;
      background-color: #fff7dc;

      .modal-title{
        color:#424242;
        font-weight: 600;
        font-size: 22px;
      }
    }
    .modal-body{
      padding:30px;

      .form-horizontal{
        .form-group{
          margin: 0;
          padding:0;

          & > div{
            padding:0;
          }
          .select-dropdown{
            .dropdown-toggle{
              width:100%;
              height:40px;
              border-color:#dadada;
              text-align:left;

              .caret{
                float:right;
                margin: 10px 0;
              }
            }
            .dropdown-menu{
              width: 100%;
              border: none;
              box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

              li{
                a{
                  padding: 10px 30px;
                  color: #424242;
                  font-weight: 400;
                  font-size: 14px;

                  &:hover,
                  &:focus{
                    background-color: #fff7dc;
                  }
                }
              }
            }
          }
          &.col-sm-6{
            padding-right:20px;

            &:nth-child(2n){
              padding-right:0;
            }
          }
        }
      }
    }
    .modal-footer{
      padding-top:0;
      border-top:none;
    }
  }
}

// verify otp
.verify-modal{
  &.in{
    .modal-dialog{
      top:50%;
      margin-top: 0;
      -webkit-transform:translate(0, -50%);
      -moz-transform:translate(0, -50%);
      -ms-transform:translate(0, -50%);
      -o-transform:translate(0, -50%);
      transform:translate(0, -50%);

      .modal-header{
        padding:15px 30px;

        .modal-title{
          color:#424242;

          font:{
            size:22px;
            weight:600;
          }
        }
      }
      .modal-body{
        padding:15px 30px;

        .es-checkbox{
          display: inline-block;
          margin:25px 40px 10px auto;
          vertical-align: middle;

          &:last-child{
            margin-right:0;
          }
          .es-checkbox__label{
            .es-outer{
              margin-right:10px;
            }
          }
        }
      }
      .modal-footer{
        padding:15px 30px 30px 30px;
        border-top:none;

        .btn{
          margin-right:0;
          margin-left:0;
        }
      }
    }
  }
}

#videoModal{
  .close{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    color: #fff;
    font-size: 56px;
    line-height: 28px;
    opacity: 1;
  }
  .modal-dialog{
    @include prefixer(transform, translateY(-50%), webkit moz ms spec);

    top:50%;
  }
  .modal-content{
    border: none;
    background:none;
    box-shadow:none;

    .modal-body{
      padding:0;
    }
  }
}
